<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPJb2ibHLTdDjO3fhl3gMqFy78jqAq5Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>651708444580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sabdev.namazapp</string>
	<key>PROJECT_ID</key>
	<string>namaz-3b72c</string>
	<key>STORAGE_BUCKET</key>
	<string>namaz-3b72c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651708444580:ios:d18bf8ee6dedebcb9cdb31</string>
</dict>
</plist>